extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
    if(role.permissions.includes("products_edit"))  
        h1(class="mb-4") Edit product 

        +alert-error(5000)
        +alert-success(5000)
        
        form(
            action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") Title
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value=product.title
                ) 
            div(class="form-group")
                label(for="product_category_id")  Category
                select(
                    name="product_category_id"
                    id="product_category_id"
                    class="form-control"
                )
                    option(value="") -- Select category -- 
                    if (category)
                        +select-tree(category, 1, product.product_category_id)      

            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="from-check-input"
                    id="featured1"
                    name="featured"
                    value="1"
                    checked=(product.featured == "1"  ? true : false)
                )    
                label(for="statusAvailable" class="form-check-label") Signature
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured1"
                    name="featured"
                    value="0"
                    checked=(product.featured =="0"  ? true : false)
                )    
                label(for="statusUnavailable" class="form-check-label") Not    
            div(class="form-group")
                label(for="desc")  Description
                textarea(
                    class="form-control textarea-mce"
                    id="desc"
                    name="description"
                    rows="5"
                ) #{product.description}
            div(class="form-group")
                label(for="price") Price
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    value=product.price
                    min="0"
                    step="0.01"
                )
            div(class="form-group")
                label(for="discount") Discount Percentage
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discountPercentage"
                    value=product.discountPercentage
                    min="0"
                )
            div(class="form-group")
                label(for="discount") Stock
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value=product.stock
                    min="0"
                )           
            div(
                class="form-group thumbnail-container"
                upload-image
            )
                label(for="thumbnail") Thumbnail
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"    
                    accept="image/*" 
                    upload-image-input   
                )
                img(
                    src=product.thumbnail
                    upload-image-preview
                    class="image-preview"
                )

            div(class="form-group additional-images")
                label Additional Images
                div(class="image-inputs")
                    div(
                        class="form-group thumbnail-container" 
                        upload-image
                    )
                        label(for="additionalImage1") Image 1
                        input(
                            type="file"
                            class="form-control-file"
                            id="additionalImage1"
                            name="additionalImage1"    
                            accept="image/*" 
                            upload-image-input   
                        )
                        img(
                            src=product.additionalImage1
                            upload-image-preview
                            class="image-preview"
                        )
                    div(class="form-group thumbnail-container" upload-image)
                        label(for="additionalImage2") Image 2
                        input(
                            type="file"
                            class="form-control-file"
                            id="additionalImage2"
                            name="additionalImage2"    
                            accept="image/*" 
                            upload-image-input   
                        )
                        img(
                            src=product.additionalImage2
                            upload-image-preview
                            class="image-preview"
                        )
                    div(class="form-group thumbnail-container" upload-image)
                        label(for="additionalImage3") Image 3
                        input(
                            type="file"
                            class="form-control-file"
                            id="additionalImage3"
                            name="additionalImage3"    
                            accept="image/*" 
                            upload-image-input   
                        )
                        img(
                            src=product.additionalImage3
                            upload-image-preview
                            class="image-preview"
                        )

            div(class="form-group")
                label(for="position") Position
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="auto increase"     
                    min="1"   
                    value=product.position
                )    
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="from-check-input"
                    id="statusAvailable"
                    name="status"
                    value="available"
                    checked=(product.status=="available"  ? true : false)
                )    
                label(for="statusAvailable" class="form-check-label") Available
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusUnavailable"
                    name="status"
                    value="unavailable"
                    checked=(product.status =="unavailable"  ? true : false)
                )    
                label(for="statusUnavailable" class="form-check-label") Unavailable

            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Update     
        script(src="/admin/js/product.js")