extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMulti.pug

block main 
    h1 Danh sách sản phẩm
    .card.mb-3 
        .card-header Bộ lọc và Tìm kiếm
        .card-body
            .row
                .col-6
                    +filter-status(filterStatus)
                .col-6 
                    +search(keyword)
    .card.mb-3 
        .card-header Danh sách
            .card-body
                +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)

    table(
        class="table table-hover table-sm"
        checkbox-multi
        
    )
        thead 
            tr 
                th 
                    input(type="checkbox" name="checkall")
                th STT 
                th Hình ảnh
                th Tiêu đề
                th Giá
                th Vị trí 
                th Trạng thái
                th Hành động

        tbody
            each item, index in products
                tr
                    td 
                        input(
                            type="checkbox"
                            name="id"
                            value=item.id 
                        )
                    td #{index+1}
                    td
                        img(
                            src=item.thumbnail
                            alt=item.title
                            width="100px"
                            height="auto"
                        )
                    td #{item.title} 
                    td #{item.price}$
                    td 
                        input(
                            type= "number"
                            value=item.position
                            style="width: 60px"
                            min="1"
                            name="position"
                        )
                    td
                        if(item.status=="available")
                            a(
                                href="javascript:;"  
                                data-status =item.status
                                data-id=item.id
                                button-change-status
                                class="badge badge-success"
                            ) Available
                        else
                            a(
                                href="javascript:;"  
                                data-status =item.status
                                data-id=item.id
                                button-change-status
                                class="badge badge-danger"
                            ) Unavailable
                    td
                        button(class="btn btn-warning btn-sm") Sửa
                        button(
                            data-id = item.id
                            button-delete
                            class="btn btn-danger btn-sm ml-1"
                            ) Xóa
    +pagination(pagination)

    form(
        action="#"
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`        
    ) 

    form(
        action="#"
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/products/delete`        
    ) 



    script(src="/admin/js/product.js")