include ../mixins/sub-menu.pug


header.header
    .container 
        .row.align-items-center
            .col-3 
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.webp",alt="Logo")

            .col-5
                form(
                    action="/search"
                    method="GET"

                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        ) 
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-4 
                .inner-menu
                    ul
                        li
                            a(href="/") Home #{keyword}
                        li(class="sub-menu")
                            - const pathProduct = "/products"
                            a(href=pathProduct) Products
                                +sub-menu(layoutProductsCategory, pathProduct)