extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    if(role.permissions.includes("accounts_create")) 
        h1(class="mb-4") Thêm mới tài khoản

        +alert-error(5000)

        form(
            action=`${prefixAdmin}/accounts/create`
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="fullName") Full name *
                input(
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                )
            div(class="form-group")
                label(for="email") Email *
                input(
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                )
            div(class="form-group")
                label(for="password") Password *
                input(
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                )
            div(class="form-group")
                label(for="phone") Phone *
                input(
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    required
                )
            div(
                class="form-group"
                upload-image
            )
                label(for="avatar") Avatar
                input(
                    type="file"
                    class="form-control-file"
                    id="avatar"
                    name="avatar"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    src=""
                    class="image-preview"
                    upload-image-preview
                )
            div(class="form-group")
                label(for="role_id") Permission
                select(name="role_id" id="role_id" class="form-control")
                    option(disabled) -- Select --
                    each item in roles
                        option(value=item.id) #{item.title}
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                ) 
                label(for="statusActive" class="form-check-label")  Active
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                ) 
                label(for="statusInactive" class="form-check-label")  Inactive            

            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Add new