extends ../../layouts/default.pug

block main
    if(role.permissions.includes("accounts_view"))  
        h1(class="mb-4") Danh sách tài khoản 

        .card.mb-3 
            .card-header Danh sách
            .card-body
                .row
                    .col-8 
                    .col-4.text-right 
                        if(role.permissions.includes("accounts_create"))  
                            a(
                                href=`${prefixAdmin}/accounts/create`
                                class="btn btn-outline-success"
                            ) + Add new
        table(
            class="table table-hover table-sm"

        )
            thead 
                tr 
                    th STT 
                    th Hình ảnh
                    th Họ tên 
                    th Phân quyền
                    th Email
                    th Trạng thái
                    th Hành động

            tbody
                each item, index in records
                    tr
                        td #{index+1}
                        td
                            img(
                                src=item.avatar
                                alt=item.fullName
                                width="100px"
                                height="auto"
                            )
                        td #{item.fullName} 
                        td #{item.role.title}
                        td #{item.email}
                        td
                            if(role.permissions.includes("accounts_edit"))  
                                if(item.status=="active")
                                    a(
                                        href="javascript:;"  
                                        data-status =item.status
                                        button-change-status
                                        class="badge badge-success"
                                    ) Active
                                else
                                    a(
                                        href="javascript:;"  
                                        data-status =item.status
                                        button-change-status
                                        class="badge badge-danger"
                                    ) Inactive
                        td
                            a(
                                href=`${prefixAdmin}/accounts/detail/${item.id}`
                                class="btn btn-secondary btn-sm"
                            ) Detail 
                            if(role.permissions.includes("accounts_edit"))  
                                a(
                                    href=`${prefixAdmin}/accounts/edit/${item.id}`
                                    class="btn btn-warning btn-sm"
                                ) Edit
                            if(role.permissions.includes("accounts_delete"))  
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                ) Delete