include ../../mixins/sub-menu.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug

doctype html

head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title #{pageTitle}
  meta(name='robots' content='noindex, follow')
  meta(name='description' content='Kofi - Coffee Shop Website Template')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' type='image/x-icon' href='assets/images/favicon.png')
  // CSS (Font, Vendor, Icon, Plugins & Style CSS files)
  // Fonts CSS
  link(rel='preconnect' href='https://fonts.googleapis.com/')
  link(rel='preconnect' href='https://fonts.gstatic.com/' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap' rel='stylesheet')
  // Vendor CSS (Bootstrap & Icon Font)
  link(rel='stylesheet' href='/assets/css/vendor/bootstrap.min.css')
  // Icons CSS
  link(rel='stylesheet' href='/assets/css/plugins/simple-line-icons.min.css')
  // Plugins CSS
  link(rel='stylesheet' href='/assets/css/plugins/swiper-bundle.min.css')
  link(rel='stylesheet' href='/assets/css/plugins/magnific-popup.css')
  link(rel='stylesheet' href='/assets/css/plugins/ion.rangeSlider.min.css')
  // Style CSS
  link(rel='stylesheet' href='/assets/css/style.css')
body
  //- +alert-success(3000)
  .header.sticky-header.section
    .container-fluid
      .row.align-items-center
        // Logo Start
        .col-lg-2.col
          .header-logo
            a(href="/")
              img(src=settingGeneral.logo, width='125' height='42' alt='kofi logo')
              img.light(src='/assets/images/logo/logo-light.png' width='125' height='42' alt='kofi logo')
        // Logo End
        // Menu Start
        .col.d-none.d-lg-block
          nav.main-menu
            ul
              li.has-sub-menu
                a(href="/") Home
              li(class="sub-menu-abc")
                  - const pathProduct = "/products"
                  a(href=pathProduct) Products
                      +sub-menu(layoutProductsCategory, pathProduct)
              li
                a(href='/contact') Contact Us
        // Menu End
        // Action Start
        .col-auto
          .header-action
            .header-action-item
              button.header-action-toggle(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvas-search')
                i.sli-magnifier
            .header-action-item
              a.header-action-toggle(href='/cart')
                i.sli-basket-loaded
                  span.count (#{miniCart ? miniCart.totalQuantity : "0"})
            .header-action-item.dropdown
              button.header-action-toggle(type='button' data-bs-toggle='dropdown')
                i.sli-settings
              .dropdown-menu.header-dropdown-menu
                h6.header-dropdown-menu-title Account
                ul
                  if(user)
                      li
                          a(href="/user/info") #{user.fullName}
                      li
                          a(href="/user/logout") Đăng xuất
                  else
                      li 
                          a(href="/user/login") Đăng nhập
                      li 
                          a(href="/user/register") Đăng ký

            .header-action-item.d-lg-none
              button.header-action-toggle(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvas-header')
                i.sli-menu
        // Action End

  +alert-success(3000)
  
  #offcanvas-search.offcanvas.offcanvas-end.w-100.bg-dark.border-0
    .offcanvas-body.d-flex.align-items-center.justify-content-center
      button.btn-close.offcanvas-search-close-btn.text-white(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
      .offcanvas-search-form
        form(action="/search" method="GET")
          div(class="form-group d-flex mb-0")
            input(type="text" placeholder="Nhập từ khóa..." class="form-control" name="keyword" value=keyword)
            button(type="submit" class="btn btn-primary")
              i.sli-magnifier

              
          li
            a(href='/contact') Contact Us

  // Page Banner Section Start
  .page-banner-section.section
    .container
      ul.breadcrumb
        li
          a(href='/') Home
        li Product Details
  // Page Banner Section End
  // Product Details Section Start
  .product-details-section.section.section-padding
    .container
      // Single Product Top Area Start
      .row.row-cols-md-2.row-cols-1.mb-n6
        // Product Image Start
        .col.mb-6
          .single-product-image
            // Product Image Slider Start
            .product-image-slider.swiper
              // Product Badge Start
              .product-badge-left
                span.product-badge-new new
              if  product.discountPercentage > 0
                .product-badge-right
                  span.product-badge-sale sale
                  span.product-badge-sale -#{product.discountPercentage}%
              // Product Badge End
              .swiper-wrapper
                .swiper-slide.image-zoom
                  img(src=product.thumbnail alt=product.title)
                .swiper-slide.image-zoom
                  img(src=product.thumbnail alt=product.title)
                .swiper-slide.image-zoom
                  img(src=product.thumbnail alt=product.title)
                .swiper-slide.image-zoom
                  img(src=product.thumbnail alt=product.title)
              .swiper-pagination.d-none
              .swiper-button-prev.d-none
              .swiper-button-next.d-none
            // Product Image Slider End
            // Product Thumbnail Carousel Start
            .product-thumb-carousel.swiper
              .swiper-wrapper
                .swiper-slide
                  img(src=product.thumbnail alt=product.title)
                .swiper-slide
                  img(src=product.thumbnail alt=product.title)
                .swiper-slide
                  img(src=product.thumbnail alt=product.title)
                .swiper-slide
                  img(src=product.thumbnail alt=product.title)
              .swiper-pagination.d-none
              .swiper-button-prev
              .swiper-button-next
            // Product Thumbnail Carousel End
        // Product Image End
        // Product Content Start
        .col.mb-6
          .single-product-content
            h1.single-product-title #{product.title}
            .single-product-price
              | $#{product.priceNew}
              del $#{product.price}
            ul.single-product-meta
              li
                span.label Category:
                span.value 
                  a(href=`/products/${product.category.slug}`) #{product.category.title}
              li
                span.label Availability :
                span.value #{product.stock} Left in Stock
            .single-product-text
              p
                | #{product.shortDescription}
            //-   li
            //-     span.label Size :
            //-     .value
            //-       .single-product-variation-size-wrap
            //-         .single-product-variation-size-item
            //-           input#size-s(type='radio' name='size' checked='')
            //-           label(for='size-s') s
            //-         .single-product-variation-size-item
            //-           input#size-m(type='radio' name='size')
            //-           label(for='size-m') m
            //-         .single-product-variation-size-item
            //-           input#size-l(type='radio' name='size')
            //-           label(for='size-l') l
            //-         .single-product-variation-size-item
            //-           input#size-xl(type='radio' name='size')
            //-           label(for='size-xl') xl
            //-   li
            //-     span.label Color :
            //-     .value
            //-       .single-product-variation-color-wrap
            //-         .single-product-variation-color-item
            //-           input#color-purple(type='radio' name='color' checked='')
            //-           label(for='color-purple' style='background-color: purple;') purple
            //-         .single-product-variation-color-item
            //-           input#color-violet(type='radio' name='color')
            //-           label(for='color-violet' style='background-color: violet;') violet
            //-         .single-product-variation-color-item
            //-           input#color-black(type='radio' name='color')
            //-           label(for='color-black' style='background-color: black;') black
            //-         .single-product-variation-color-item
            //-           input#color-pink(type='radio' name='color')
            //-           label(for='color-pink' style='background-color: pink;') pink
            //-         .single-product-variation-color-item
            //-           input#color-orange(type='radio' name='color')
            //-           label(for='color-orange' style='background-color: orange;') orange
            //-   li
            //-     span.label Material :
            //-     .value
            //-       .single-product-variation-material-wrap
            //-         .single-product-variation-material-item
            //-           input#material-metal(type='radio' name='material' checked='')
            //-           label(for='material-metal') metal
            //-         .single-product-variation-material-item
            //-           input#material-resin(type='radio' name='material')
            //-           label(for='material-resin') resin
            //-         .single-product-variation-material-item
            //-           input#material-leather(type='radio' name='material')
            //-           label(for='material-leather') leather
            //-         .single-product-variation-material-item
            //-           input#material-slag(type='radio' name='material')
            //-           label(for='material-slag') slag
            //-         .single-product-variation-material-item
            //-           input#material-fiber(type='radio' name='material')
            //-           label(for='material-fiber') fiber
            //- .single-product-additional-information
            //-   button.single-product-info-btn(data-bs-toggle='modal' data-bs-target='product-shipping-policy')
            //-     i.sli-plane
            //-     |  Shipping
            //-   button.single-product-info-btn(data-bs-toggle='modal' data-bs-target='product-enquiry')
            //-     i.sli-envelope
            //-     |  Ask About This product
            .single-product-actions
              .single-product-actions-item
                form(action=`/cart/add/${product.id}` method="POST" style="display: flex; align-items: center;")
                  .product-quantity-count(style="display: flex; align-items: center; margin-right: 10px;")
                    button.dec.qty-btn(style="padding: 0 10px;") -
                    input.product-quantity-box(type='text' name='quantity' value='1')
                    button.inc.qty-btn(style="padding: 0 10px;") +
                  .single-product-actions-item
                    button.btn.btn-dark.btn-primary-hover.rounded-0 ADD TO CART
              //- .single-product-actions-item
              //-   button.btn.btn-icon.btn-light.btn-primary-hover.rounded-0
              //-     i.sli-heart
              //- .single-product-actions-item
              //-   button.btn.btn-icon.btn-light.btn-primary-hover.rounded-0
              //-     i.sli-refresh
            //- .single-product-buy-now
            //-   a.btn.btn-dark.btn-primary-hover.rounded-0(href='#') Buy it Now
            ul.single-product-meta
              //- li
              //-   span.label Categories :
              //-   span.value.links
              //-     a(href='#') Coffee
              //-     a(href='#') Deal Collection
              //-     a(href='#') Featured Products
              //-     a(href='#') Green coffee
              //-     a(href='#') Italian
              //- li
              //-   span.label Tags :
              //-   span.value.links
              //-     a(href='#') black
              //-     a(href='#') fiber
              //-     a(href='#') leather
              li
                span.label Share :
                span.value.social
                  a(href='#')
                    img(src='/assets/images/icons/social/facebook.png' alt='facebook')
                  a(href='#')
                    img(src='/assets/images/icons/social/twitter.png' alt='twitter')
                  a(href='#')
                    img(src='/assets/images/icons/social/pinterest.png' alt='pinterest')
            .single-product-safe-payment
              p Guaranteed safe checkout
              img(src='/assets/images/footer/footer-payment.png' alt='payment')
        // Product Content End
      // Single Product Top Area End
      // Single Product Bottom (Description) Area Start
      .single-product-description-area
        .nav.single-product-description-area-nav
          button.active(data-bs-toggle='tab' data-bs-target='#product-description') Description
          button(data-bs-toggle='tab' data-bs-target='#product-comments') Comments
          button(data-bs-toggle='tab' data-bs-target='#product-reviews') Reviews
          button(data-bs-toggle='tab' data-bs-target='#product-size-chart') Size Chart
          button(data-bs-toggle='tab' data-bs-target='#product-shipping-policy') Shipping Policy
        .tab-content
          // Description Start
          #product-description.tab-pane.fade.show.active
            .single-product-description
              p
                | !{product.description}
          // Description End
          // Comments Start
          #product-comments.tab-pane.fade
            .block-title-2
              h4.title Comments #{comments.length}
            // Comment List Start
            ul.comment-list
              each comment in comments
                li
                  .comment-item
                    .comment-thumb
                      img(src=comment.userInfo.avatar alt=comment.userInfo.fullName)
                    .comment-content
                      .comment-meta
                        h5.comment-name #{comment.userInfo.fullName}
                        span.comment-date #{comment.createdAt}
                      p
                        | #{comment.comment}
                      a.comment-reply(href='#') Reply
                //- ul.comment-child
                //-   li
                //-     .comment-item
                //-       .comment-thumb
                //-         img(src='/assets/images/testimonial/testimonial-2.png' alt='Hester Perkins')
                //-       .comment-content
                //-         .comment-meta
                //-           h5.comment-name Hester Perkins
                //-           span.comment-date November 27, 2023
                //-         p
                //-           | Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.
                        a.comment-reply(href='#') Reply
            // Comment List End
            .block-title-2
              h4.title Leave your thought here
            // Comment Form Start
            .comment-form
              if(user)
                form(action=`/comment/add/${product.id}` method="POST")
                  .row.g-4
                    .col-12
                      label(for='comment') Comment
                      textarea#comment-message.form-field(name='comment' placeholder='Write your messages here' required)
                    .col-12
                      input.btn.btn-dark.btn-primary-hover.rounded-0(type='submit' value='Submit')
              else
                .col
                  | Please Login to be able comment 
                a(href='/user/login')
                  b Login
            // Comment Form End
          // Comments End
          // Reviews Start
          #product-reviews.tab-pane.fade
            .block-title-2
              h4.title Customer Reviews
            // Review List Start
            .review-list
              .review-item
                .review-thumb
                  img(src='/assets/images/testimonial/testimonial-1.png' alt='Edna Watson')
                .review-content
                  .review-rating
                    span.review-rating-bg
                      span.review-rating-active(style='width: 90%')
                  .review-meta
                    h5.review-name Edna Watson
                    span.review-date November 27, 2023
                  p
                    | Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.
              .review-item
                .review-thumb
                  img(src='assets/images/testimonial/testimonial-2.png' alt='Hester Perkins')
                .review-content
                  .review-rating
                    span.review-rating-bg
                      span.review-rating-active(style='width: 100%')
                  .review-meta
                    h5.review-name Hester Perkins
                    span.review-date November 27, 2023
                  p
                    | Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.
            // Review List End
            .block-title-2
              h4.title Write a review
            // Review Form Start
            .review-form
              form(action='#')
                .row.g-4
                  .col-12
                    label(for='review-rating') Rating
                    select#review-rating.form-field(name='rating')
                      option(value='1') One
                      option(value='2') Two
                      option(value='3') Three
                      option(value='4') Four
                      option(value='5') Five
                  .col-sm-6
                    label(for='review-name') Name
                    input#review-name.form-field(name='name' type='text' placeholder='Enter your name')
                  .col-sm-6
                    label(for='review-email') Email
                    input#review-email.form-field(name='email' type='email' placeholder='john.smith@example.com')
                  .col-12
                    label(for='review-comment') Body of Review (1500)
                    textarea#review-comment.form-field(name='comment' placeholder='Write your comments here')
                  .col-12
                    input.btn.btn-dark.btn-primary-hover.rounded-0(type='submit' value='Submit Review')
            // Review Form End
          // Reviews End
          // Size Chart Start
          #product-size-chart.tab-pane.fade
            table.table.table-bordered
              tbody
                tr
                  td.cun-name
                    span UK
                  td 18
                  td 20
                  td 22
                  td 24
                  td 26
                tr
                  td.cun-name
                    span European
                  td 46
                  td 48
                  td 50
                  td 52
                  td 54
                tr
                  td.cun-name
                    span usa
                  td 14
                  td 16
                  td 18
                  td 20
                  td 22
                tr
                  td.cun-name
                    span Australia
                  td 28
                  td 10
                  td 12
                  td 14
                  td 16
                tr
                  td.cun-name
                    span Canada
                  td 24
                  td 18
                  td 14
                  td 42
                  td 36
          // Size Chart End
          // Shipping Policy Start
          #product-shipping-policy.tab-pane.fade
            .block-title-2
              h4.title Shipping policy of our store
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
            ul
              li 1-2 business days (Typically by end of day)
              li 30 days money back guaranty
              li 24/7 live support
              li odio dignissim qui blandit praesent
              li luptatum zzril delenit augue duis dolore
              li te feugait nulla facilisi.
            p
              | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum
            p
              | claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per
            p
              | seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
          // Shipping Policy End
      // Single Product Bottom (Description) Area End
  // Product Details Section End
  // Product Section Start
  .h1-product-section.section.section-padding.pt-0
    .container
      .section-title.section-title-center
        p.title POPULAR ITEM
        h2.sub-title Related Products
      .product-carousel.swiper
        .swiper-wrapper
          each item in products
            .swiper-slide
              .product
                .product-thumb
                  a.product-image(href=`/products/detail/${item.slug}`)
                    img(loading='lazy' src=item.thumbnail alt=item.title width='268' height='306')
                  .product-badge-left
                    span.product-badge-new new
                  if  item.discountPercentage > 0
                    .product-badge-right
                      span.product-badge-sale sale
                      span.product-badge-sale -#{item.discountPercentage}%
                  .product-action
                    form(
                      action=`/cart/add/${item.id}`
                      method="POST"
                    )
                      input(
                        class="form-control mb-2"
                        type="number"
                        name="quantity"
                        value="1"
                        min="1"
                        max=item.stock
                        style="display: none;"
                      )
                      button.product-action-btn(data-tooltip-text='Add to cart' type="submit")
                        i.sli-bag
                .product-content
                  h5.product-title
                    a(href=`/products/detail/${item.slug}`) #{item.title}
                  .product-price
                    del #{item.price}$
                    | #{item.priceNew}$ 
                  .product-rating
                    span.product-rating-bg
                      span.product-rating-active(style='width: 90%;')
        .swiper-pagination.d-md-none
        .swiper-button-prev.d-none.d-md-flex
        .swiper-button-next.d-none.d-md-flex
  // Product Section End
  // Footer Section Start
  .footer-section.section
    // Footer Top Section Start
    .footer-top.section
      .container
        .row.mb-n8.gy-lg-0.gy-4
          // Footer Widget Start
          .col-lg-4.col-sm-6.col-12.mb-8
            .footer-widget.footer-widget-dark
              h5.footer-widget-title About Info
              p
                | This is the perfect place to find a nice and cozy spot to sip some. You&apos;ll find the Java Jungle.
              ul.footer-widget-list-icon
                li
                  i.sli-location-pin
                  | Addresss: 123 Pall Mall, London England
                li
                  i.sli-envelope
                  | Email: hello@example.com
                li
                  i.sli-phone
                  | Phone: (012) 345 6789
          // Footer Widget End
          // Footer Widget Start
          .col-lg-3.col-sm-6.col-12.mb-8
            .footer-widget.footer-widget-dark
              h5.footer-widget-title Information
              ul.footer-widget-list
                li
                  a(href='#') Returns Policy
                li
                  a(href='#') Support Policy
                li
                  a(href='#') Size Guide
                li
                  a(href='#') FAQs
                li
                  a(href='#') Privacy Policy
          // Footer Widget End
          // Footer Widget Start
          .col-lg-3.col-sm-6.col-12.mb-8
            .footer-widget.footer-widget-dark
              h5.footer-widget-title Quick Links
              ul.footer-widget-list
                li
                  a(href='about-us.html') About us
                li
                  a(href='wishlist.html') Wishlist
                li
                  a(href='my-account.html') My Account
                li
                  a(href='login.html') Login
                li
                  a(href='register.html') Register
          // Footer Widget End
          // Footer Widget Start
          .col-lg-2.col-sm-6.col-12.mb-8
            .footer-widget.footer-widget-dark
              h5.footer-widget-title Follow Us On
              ul.footer-widget-list-icon
                li
                  a(href='#')
                    i.sli-social-facebook
                    | Facebook
                li
                  a(href='#')
                    i.sli-social-twitter
                    | Twitter
                li
                  a(href='#')
                    i.sli-social-instagram
                    | Instagram
                li
                  a(href='#')
                    i.sli-social-youtube
                    | Youtube
                li
                  a(href='#')
                    i.sli-social-pinterest
                    | Pinterest
          // Footer Widget End
    // Footer Top Section End
    // Footer Bottom Section Start
    .footer-bottom.footer-bottom-dark.section
      .container
        .row.justify-content-between.align-items-center.mb-n2
          // Footer Widget Start
          .col-md-auto.col-12.mb-2
            p.footer-copyright.footer-copyright-dark.text-center
              | Copyright 
              b.text-primary Kofi
              |  &copy;2023
          // Footer Widget End
          // Footer Widget Start
          .col-md-auto.col-12.mb-2
            .footer-payment.text-center
              img(loading='lazy' src='assets/images/footer/footer-payment.png' alt='footer payment' width='342' height='30')
          // Footer Widget End
    // Footer Bottom Section End
  // Footer Section End
  #exampleProductModal.quickview-product-modal.modal.fade
    .modal-dialog.modal-dialog-centered.mw-100
      .container
        .modal-content
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            // Single Product Top Area Start
            .row.row-cols-md-2.row-cols-1.mb-n6
              // Product Image Start
              .col.mb-6
                .single-product-image
                  // Product Badge Start
                  .single-product-badge-left
                    span.single-product-badge-new new
                  .single-product-badge-right
                    span.single-product-badge-sale sale
                    span.single-product-badge-sale -11%
                  // Product Badge End
                  // Product Image Slider Start
                  .quickview-product-image-slider.swiper
                    .swiper-wrapper
                      .swiper-slide
                        img(loading='lazy' src='assets/images/products/single/single-product-1.png' alt='Signature Blend Roast Coffee')
                      .swiper-slide
                        img(loading='lazy' src='assets/images/products/single/single-product-2.png' alt='Signature Blend Roast Coffee')
                      .swiper-slide
                        img(loading='lazy' src='assets/images/products/single/single-product-3.png' alt='Signature Blend Roast Coffee')
                      .swiper-slide
                        img(loading='lazy' src='assets/images/products/single/single-product-4.png' alt='Signature Blend Roast Coffee')
                    .swiper-pagination.d-none
                    .swiper-button-prev.d-none
                    .swiper-button-next.d-none
                  // Product Image Slider End
                  // Product Thumbnail Carousel Start
                  .quickview-product-thumb-carousel.swiper
                    .swiper-wrapper
                      .swiper-slide
                        img(loading='lazy' src='assets/images/products/single/single-product-1.png' alt='Signature Blend Roast Coffee')
                      .swiper-slide
                        img(loading='lazy' src='assets/images/products/single/single-product-2.png' alt='Signature Blend Roast Coffee')
                      .swiper-slide
                        img(loading='lazy' src='assets/images/products/single/single-product-3.png' alt='Signature Blend Roast Coffee')
                      .swiper-slide
                        img(loading='lazy' src='assets/images/products/single/single-product-4.png' alt='Signature Blend Roast Coffee')
                    .swiper-pagination.d-none
                    .swiper-button-prev
                    .swiper-button-next
                  // Product Thumbnail Carousel End
              // Product Image End
              // Product Content Start
              .col.mb-6
                .single-product-content
                  h1.single-product-title Signature Blend Roast Coffee
                  .single-product-price
                    | $99.00 
                    del $110.00
                  ul.single-product-meta
                    li
                      span.label Availability :
                      span.value 11 Left in Stock
                  .single-product-text
                    p
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&apos;t anything embarrassing hidden in the middle of text.
                  ul.single-product-variations
                    li
                      span.label Size :
                      .value
                        .single-product-variation-size-wrap
                          .single-product-variation-size-item
                            input#qv-size-s(type='radio' name='qv-size' checked='')
                            label(for='qv-size-s') s
                          .single-product-variation-size-item
                            input#qv-size-m(type='radio' name='qv-size')
                            label(for='qv-size-m') m
                          .single-product-variation-size-item
                            input#qv-size-l(type='radio' name='qv-size')
                            label(for='qv-size-l') l
                          .single-product-variation-size-item
                            input#qv-size-xl(type='radio' name='qv-size')
                            label(for='qv-size-xl') xl
                    li
                      span.label Color :
                      .value
                        .single-product-variation-color-wrap
                          .single-product-variation-color-item
                            input#qv-color-purple(type='radio' name='qv-color' checked='')
                            label(for='qv-color-purple' style='background-color: purple;') purple
                          .single-product-variation-color-item
                            input#qv-color-violet(type='radio' name='qv-color')
                            label(for='qv-color-violet' style='background-color: violet;') violet
                          .single-product-variation-color-item
                            input#qv-color-black(type='radio' name='qv-color')
                            label(for='qv-color-black' style='background-color: black;') black
                          .single-product-variation-color-item
                            input#qv-color-pink(type='radio' name='qv-color')
                            label(for='qv-color-pink' style='background-color: pink;') pink
                          .single-product-variation-color-item
                            input#qv-color-orange(type='radio' name='qv-color')
                            label(for='qv-color-orange' style='background-color: orange;') orange
                    li
                      span.label Material :
                      .value
                        .single-product-variation-material-wrap
                          .single-product-variation-material-item
                            input#qv-material-metal(type='radio' name='qv-material' checked='')
                            label(for='qv-material-metal') metal
                          .single-product-variation-material-item
                            input#qv-material-resin(type='radio' name='qv-material')
                            label(for='qv-material-resin') resin
                          .single-product-variation-material-item
                            input#qv-material-leather(type='radio' name='qv-material')
                            label(for='qv-material-leather') leather
                          .single-product-variation-material-item
                            input#qv-material-slag(type='radio' name='qv-material')
                            label(for='qv-material-slag') slag
                          .single-product-variation-material-item
                            input#qv-material-fiber(type='radio' name='qv-material')
                            label(for='qv-material-fiber') fiber
                  .single-product-actions
                    .single-product-actions-item
                      .product-quantity-count
                        button.dec.qty-btn -
                        input.product-quantity-box(type='text' name='quantity' value='1')
                        button.inc.qty-btn +
                    .single-product-actions-item
                      button.btn.btn-dark.btn-primary-hover.rounded-0 ADD TO CART
                    .single-product-actions-item
                      button.btn.btn-icon.btn-light.btn-primary-hover.rounded-0
                        i.sli-heart
                    .single-product-actions-item
                      button.btn.btn-icon.btn-light.btn-primary-hover.rounded-0
                        i.sli-refresh
                  ul.single-product-meta
                    li
                      span.label Categories :
                      span.value.links
                        a(href='#') Coffee
                        a(href='#') Deal Collection
                        a(href='#') Featured Products
                        a(href='#') Green coffee
                        a(href='#') Italian
                    li
                      span.label Tags :
                      span.value.links
                        a(href='#') black
                        a(href='#') fiber
                        a(href='#') leather
                    li
                      span.label Share :
                      span.value.social
                        a(href='#')
                          img(src='assets/images/icons/social/facebook.png' alt='facebook')
                        a(href='#')
                          img(src='assets/images/icons/social/twitter.png' alt='twitter')
                        a(href='#')
                          img(src='assets/images/icons/social/pinterest.png' alt='pinterest')
                  .single-product-safe-payment
                    p Guaranteed safe checkout
                    img(src='assets/images/footer/footer-payment.png' alt='payment')
              // Product Content End
            // Single Product Top Area End
  button.scroll-to-top
    i.sli-arrow-up
  // JS Vendor, Plugins & Activation Script Files
  // Vendors JS
  script(src='/assets/js/vendor/modernizr-3.11.7.min.js')
  script(src='/assets/js/vendor/jquery-3.6.0.min.js')
  script(src='/assets/js/vendor/jquery-migrate-3.3.2.min.js')
  script(src='/assets/js/vendor/bootstrap.bundle.min.js')
  // Plugins JS
  script(src='/assets/js/plugins/swiper-bundle.min.js')
  script(src='/assets/js/plugins/jquery.countdown.min.js')
  script(src='/assets/js/plugins/svg-inject.min.js')
  script(src='/assets/js/plugins/jquery.magnific-popup.min.js')
  script(src='/assets/js/plugins/ion.rangeSlider.min.js')
  script(src='/assets/js/plugins/jquery.zoom.min.js')
  script(src='/assets/js/plugins/resize-sensor.js')
  script(src='/assets/js/plugins/jquery.sticky-sidebar.min.js')
  // Activation JS
  script(src='/assets/js/active.js')
  // Mirrored from htmldemo.net/kofi/kofi/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 May 2024 14:42:08 GMT
