extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMulti.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/table-tree.pug


block main 
    +alert-success(5000)
    +alert-success(5000)

    if(role.permissions.includes("products-category_view"))
        h1 Danh mục sản phẩm

        .card.mb-3 
            .card-header Danh sách
                .card-body
                    .row 
                        .col-8
                        .col-4 
                            if(role.permissions.includes("products-category_create"))
                                a(
                                    href=`${prefixAdmin}/products-category/create`
                                    class="btn btn-outline-success"
                                ) + Add Products Category

        table(
            class="table table-hover table-sm"
            checkbox-multi
            
        )
            thead 
                tr 
                    th 
                        input(type="checkbox" name="checkall")
                    th STT 
                    th Hình ảnh
                    th Tiêu đề
                    th Vị trí 
                    th Trạng thái
                    th Hành động

            tbody
                +table-tree(records)

        form(
            action="#"
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/products-category/change-status`        
        ) 

        form(
            action="#"
            method="POST"
            id="form-delete-item"
            data-path=`${prefixAdmin}/products-category/delete`        
        ) 

        script(src="/admin/js/product-category.js")