extends ../../layouts/default.pug 
include ../../mixins/alert.pug 

block main


    +alert-error(5000)

    .container.my-5
        .row.justify-content-center
            .col-8
                h1(class="text-center") Lấy lại mật khẩu
    
                form(
                    action=`/user/password/forgot`
                    method="POST"
                )
                    div(class="form-group")
                        label(for="email") Email 
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Gửi mail xác nhận

