.sider 
    .inner-menu
        ul 
            li
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            if(role.permissions.includes("products-category_view"))
                li 
                    a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
            if(role.permissions.includes("products_view"))
                li 
                    a(href=`${prefixAdmin}/products`) Danh sách sản phẩm    
            if(role.permissions.includes("roles_view"))                        
                li 
                    a(href=`${prefixAdmin}/roles`) Nhóm quyền       
            if(role.permissions.includes("roles_permissions"))
                li 
                    a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
            if(role.permissions.includes("accounts_view"))  
                li 
                    a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản 
            li 
                a(href=`${prefixAdmin}/settings/general`) Cài đặt chung
                        if(role.permissions.includes("accounts_view"))  
            if(role.permissions.includes("power_bi"))
                li 
                    a(href=`${prefixAdmin}/powerbi`) Báo cáo
